@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root {
  --font-base: 'DM Sans', sans-serif;
  /* --primary-color: #edf2f8; */
  /* --primary-color: #eef2ff; */
  --primary-color: #d4ddfa;
  /* --secondary-color: #313bac; */
  --secondary-color: #4f46e5;
  /* --secondary-color: #f0fdfa; */
  --dark-purple: #060438;
  --light-purple: #f2f3f7;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}
@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url('src/fonts/Gilroy-ExtraBold.otf') format('opentype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: GilroyBold;

  src: url('src/fonts/Gilroy-Bold.ttf') format('opentype');
}
